<h1>
  About Us
</h1>
<div class="links">
  <%= link_to "Home", welcome_index_path %>|
  <%= link_to "New post", new_wiki_post_path %>
</div>
<div class="post">
  <h1>Our Wiki</h1>
  <hr/>
  <p>This is my first Rails project!</p>
  <p class="end">- XFactor</p>
</div>