<h1>Wiki</h1>
<div>
  <% @posts.each do |post| %>
    <p>
      <h4><%= post.title %></h4>
      <%= link_to "View", wiki_post_path(post), class: 'wikiLink' %>
    </p>
  <% end %>
</div>

<%= link_to "About", welcome_about_path %>
