<h1>Wiki App</h1>

<div class="links">
  <%= link_to "About", welcome_about_path %>|
  <%= link_to "New post", new_wiki_post_path %>
</div>

<%= render 'wiki_posts/list', wiki_posts: @wiki_posts %>


