<div class="meta">
Created by &nbsp;<strong><%= @wiki_post.author %></strong>&nbsp;
on&nbsp;<strong><%= @wiki_post.created_at %></strong>&nbsp;
and last updated&nbsp;<strong><%= @wiki_post.updated_at %></strong>&nbsp;
</div>