<h1 class="title">Lorem Ipsum</h1>

<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lectus odio, fermentum quis enim at, volutpat consequat purus. Ut a ex ut dui eleifend sodales. Donec quis fringilla ligula, a bibendum metus. Nulla accumsan dictum nunc, eget dignissim tortor lobortis id. Morbi ultricies dictum leo eget tempus. Suspendisse lacinia arcu ac ornare porta. Integer pretium accumsan tortor, quis ornare tortor lobortis quis. Nunc vulputate, enim vel egestas porta, sem ex aliquet nisi, id egestas tellus odio a lorem. Ut bibendum felis lacus, vitae lobortis felis luctus eu. Donec ut lacus nec ante aliquam ultricies. Sed condimentum faucibus tincidunt. Aenean sollicitudin, massa a imperdiet convallis, justo sem rutrum tortor, quis tristique neque purus id nulla. Mauris id ipsum malesuada enim consectetur posuere nec eget justo. Sed suscipit eros tellus, vulputate eleifend magna sodales in. </p>

<div class="meta">
  <span class="author">Wiki Page Author</span>
  <span class="creation">Wiki Page Creation Date</span>
  <span class="update">Wiki Page Last Update Date</span>
</div>

<div class="links">
  <%= link_to 'Home', welcome_index_path %>
  <%= link_to 'New Wiki Post', new_wiki_post_path %>
</div>